<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Product Report</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:400,700"
    />
    <!-- https://fonts.google.com/specimen/Roboto -->
    <link rel="stylesheet" href="/stylesheets/fontawesome.min.css" />
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="/stylesheets/jquery-ui-datepicker/jquery-ui.min.css" type="text/css" />
    <!-- http://api.jqueryui.com/datepicker/ -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="/stylesheets/templatemo-style.css">
    <!--
	Product Admin CSS Template
	https://templatemo.com/tm-524-product-admin
	-->
  </head>

  <body>
    <nav class="navbar navbar-expand-xl">
      <div class="container h-100">
        <a class="navbar-brand" href="/index">
          <h1 class="tm-site-title mb-0">智能家居管理平台</h1>
        </a>
        <button
          class="navbar-toggler ml-auto mr-0"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars tm-nav-icon"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto h-100">
            <li class="nav-item">
              <a class="nav-link" href="/index">
                <i class="fas fa-home"></i> 主页
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/report">
                <i class="far fa-file-alt"></i>
                信息
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/products">
                <i class="fas fa-shopping-cart"></i> 管理
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/accounts">
                <i class="far fa-user"></i> 账户
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-cog"></i>
                <span> 设置 <i class="fas fa-angle-down"></i> </span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">联系我们</a>
              </div>
            </li>
          </ul>
          <ul class="navbar-nav">
            <% if(user) { %>
              <div class="tm-gray-circle-layout"><img src="/images/account.jpg" alt="Avatar Image" class="rounded-circle">
              </div>
              <li class="nav-item dropdown">
                <a class="nav-link-layout dropdown-toggle" href="#" id="navbarDropdown" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span>
                    <%= user.userName %> <i class="fas fa-angle-down"></i>
                  </span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/accounts">个人中心</a>
                  <a class="dropdown-item" href="/index/logoff">退出登录</a>
                </div>
              </li>
              <!-- </li> -->
              <% } else { %>
                <li>
                  <a href="/login" class="nav-link d-block">您好，请登录</a>
                </li>
                <% } %>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
          <div class="col">
              <p class="text-white mt-5 mb-5"> <b>Admin</b>的家庭报告</p>
          </div>
      </div>
      <!-- row -->
      <div class="row tm-content-row">
          <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 tm-block-col-report">
              <div class="tm-bg-primary-dark tm-block-report">
                  <div class="tm-block-div">
                      <i class="fas fa-bolt fa-5x" style="color:white"></i>
                      <span class="tm-block-text-report" >电费</span>
                      <span class="tm-block-text-report">0元</span>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 tm-block-col-report">
              <div class="tm-bg-primary-dark tm-block-report">
                  <div class="tm-block-div">
                      <i class="fas fa-tint fa-5x" style="color:white"></i>
                      <span class="tm-block-text-report" >水费</span>
                      <span class="tm-block-text-report">0元</span>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 tm-block-col-report">
              <div class="tm-bg-primary-dark tm-block-report">
                  <div class="tm-block-div">
                      <i class="fas fa-fire fa-5x" style="color:white"></i>
                      <span class="tm-block-text-report" >燃气费</span>
                      <span class="tm-block-text-report">0元</span>
                  </div>
              </div>
          </div>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mx-auto">
            <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
              <h2 class="tm-block-title d-inline-block">历史信息</h2>
              <div class="tm-product-table-container empty-box" id="realtime-info">
                <ul class="list-group">
                  >>欢迎使用SmartHome智能家居控制系统
                </ul>
                <ul class="list-group">
                  >>以下是您的历史操作信息
                </ul>
                <% if(user) { %>
                <% if(log){ %> <% log.forEach(items=> { %>
                  <ul class="list-group">
                    >><%= user.userName %>----------<%= items.log %>----------<%= items.date %>
                  </ul>
                  <% }); %>
                  <% }else{ %>
                    <ul class="list-group">
                    </ul>
                    <% } %>
                <% }else{%>
                  <ul class="list-group">
                  </ul>
                <% } %>
              </div>
            </div>
          </div>
          <!-- <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 tm-block-col">
              <div class="tm-bg-primary-dark tm-block tm-block-taller">
                  
              </div>
          </div> -->
          <!-- <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 tm-block-col">
              <div class="tm-bg-primary-dark tm-block tm-block-taller">
                  
              </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
              <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-overflow">
                  
              </div>
          </div> -->
      </div>
  </div>
    <footer class="tm-footer row tm-mt-small">
        <div class="col-12 font-weight-light">
          <p class="text-center text-white mb-0 px-4 small">
            Copyright &copy; <b>2023</b> All rights reserved. 
            
            Design: <a rel="nofollow noopener"  class="tm-footer-link">FlyFish</a>
        </p>
        </div>
    </footer> 

    <script src="/javascripts/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="/stylesheets/jquery-ui-datepicker/jquery-ui.min.js"></script>
    <!-- https://jqueryui.com/download/ -->
    <script src="/javascripts/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->
    <script>
      // 获取元素
      // const realtimeInfoDiv = document.getElementById('realtime-info');
      // const realtimeInfoList = realtimeInfoDiv.querySelector('ul');
      
      // // 建立WebSocket连接
      // // 获取当前host，用于提供url以建立websocket
      // const host = window.location.host
      // const ws = new WebSocket('ws://' + host);

      // ws.onopen=function () {
      //   console.log("websocket connect!")
      //   var data = JSON.stringify({report: 'report'})
      //   ws.send(data)
      // }
      
      // // 监听message事件
      // ws.addEventListener('message', event => {
      //   // 解析收到的JSON数据
      //   const data = JSON.parse(event.data);
      
      //   // 在列表中添加新的元素
      //   const newItem = document.createElement('li');
      //   newItem.classList.add('list-group-item');
      //   newItem.innerText = data.message;
      //   realtimeInfoList.appendChild(newItem);
      // });
      </script>
  </body>
</html>
